*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 1000px;
    width: 1600px;
}

h2{
    font-size: 80px;
    height: 50px;
    width: 300px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}
.slidecontainer{
    height: 200px;
    width: 200px;
    margin-top: 600px;
}
#slides{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    transition: all 0.5s ease-in-out;
    margin-left: 400px;
}
li{
    list-style: none;
}
img{
    height: 200px;
    width: 200px;
    

}
#next{
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    color: black;
    margin-top: -49px;
    position: absolute;
    margin-left: 600px;
    border-radius: 10px;
    font-size: 20px;
}
#prev{
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    margin-left: 800px;
    position: relative;
    border-radius: 10px;
}